@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --border-radius: 25px;
  --card-padding: 20px;
  --text-primary: #1e1e1e; /* deep charcoal */
  --text-secondary: #4b4b4b; /* soft dark gray */
}
